@import "./normalize.css";
@import "./fontawesome.css";
@import "./clearsans.css";

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root,
input {
    font-family: "ClearSans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: #F3F3F3;
}

a {
    display: inline;
    color: inherit;
    transition: color 0.2s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 1rem;
    color: #F9F9F9;
    background: #2C3339;
}

nav span {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

nav span a {
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
}

nav span a:not(:last-of-type) {
    margin-right: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    padding: 25px 5%;
    color: #F9F9F9;
    background: url("/assets/images/blueprint.png") no-repeat right bottom;
    background-size: cover;
}

header>* {
    margin: 2rem 0;
}

header .title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 2.5rem;
}

header .desc {
    font-size: 1.25rem;
}

header .download {
    padding: 0.5rem 0;
    font-weight: bold;
}

header .download a {
    padding: 0.5rem 1rem;
    background: #33BFEF;
    border-radius: 50px;
    text-decoration: none;
}

main {
    padding: 2rem 5%;
    line-height: 1.5rem;
    color: #252525;
}

main .box {
    padding: 0.67rem 2rem;
    background: #F9F9F9;
    box-shadow: 0 0 16px rgba(192, 192, 192, 0.5);
}

main .box:not(:last-of-type) {
    margin-bottom: 1rem;
}

main .box>* {
    margin: 1.5rem 0;
}
